#create-account-logo {
    width: 279px;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 25px;
}

#create-account {
    margin-top: 80px;
}

#terms-checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}

#login-mascot {
    height: 212px;
    margin-bottom: 20px;
}